.profile {
  background-color: #323232;
  background-image: url('../../assets/images/login_background.png');
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.card {
  padding: 44px 60px;
  width: 500px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.group {
  display: flex;
  margin-bottom: 60px;
}
