.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
